    <div class="footer-fixed">
        <div class="footer-container">
            <img src="../../assets/footer-img.png" class="footer-img">
            <div class="footer-icon inplay-left">
                <img src="../../assets/homepage.png" alt="Home" width="20" height="20">
                <span>HOME</span>
            </div>
            <div class="footer-icon">
                <img src="../../assets/inplay.png" alt="Home" width="20" height="20">
                <span>INPLAY</span>
            </div>
            <div class="footer-icon">
            </div>
            <div class="footer-icons central">
                <img src="../../assets/faizan.png" alt="Home" width="20" height="20">
            </div>
            <div class="footer-icon ">
                <img src="../../assets/casino.png" alt="casino" width="20" height="20">
                <span >CASINO</span>
            </div>
            <div class="footer-icon">
                <img src="../../assets/ledger.png" alt="RG"  width="20" height="20">
                <span>MY LAGER</span>
            </div>
                <!-- <div class="footer-icon inplay-left">
                    <img src="../../assets/homepage.png" alt="Home" width="20" height="20">
                    <span>HOME</span>
                </div> -->
            <!-- <div class="footer-icon inplay-left">
                <img src="../../assets/inplay.png" alt="Home" width="20" height="20">
                <span>INPLAY</span>
            </div> -->
            
            <!-- <div class="footer-icon casino-right">
                <img src="../../assets/casino.png" alt="casino" width="20" height="20">
                <span >CASINO</span>
            </div> -->
            <!-- <div class="footer-icon casino-right">
                <img src="../../assets/ledger.png" alt="RG"  width="20" height="20">
                <span>MY LAGER</span>
            </div> -->
        </div>
    </div>
<!-- <div class="container">
    <div class="fixed-bottom">
        <div class="footer">
            <div class="footer-container">
                <div class="footer-icon">
                    <img src="../../assets/homepage.png" alt="Home" width="20" height="20">
                    <span>HOME</span>
                </div>
                <div class="footer-icon">
                    <img src="../../assets/inplay.png" alt="Home" width="20" height="20">
                    <span>INPLAY</span>
                </div>
                <div class="footer-icons central">

                </div>
                <div class="footer-icon">
                    <img src="../../assets/casino.png" alt="casino" width="20" height="20">
                    <span >CASINO</span>
                </div>
                <div class="footer-icon">
                    <img src="../../assets/ledger.png" alt="RG"  width="20" height="20">
                    <span>MY LAGER</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="footer">
    <div class="curved-box">
        <div class="left-footer">
            <div class="home">
                <img src="../../assets/homepage.png" alt="Home" width="20" height="20">
                <span>Home</span>
            </div>
            <div class="inplay">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                <span>Home</span>
            </div>
        </div>
        <div class="profile">
            <img src="../../assets/faizan.png" alt="Profile" width="40" height="40">
        </div>
        <div class="right-footer">
            <div class="casino">
                <img src="../../assets/caasino.png" alt="casino" width="40" height="40">
                <span>Casino</span>
            </div>
        </div>
    </div>
</div> -->



