.main-box {
    width: 100%;
    height: 60px;
    background-color: #30469C;
    position: relative;
    overflow: hidden;
    z-index: -44;
    border-radius: 5px;
}

.main-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    clip-path: circle();
    width: 40%; /* Make sure this is wide enough to cover half of the main box */
    height: 60px;
    background-color: white; /* Match the body background color */
    z-index: -221;
    border-radius: 5px;

}


.fixed-bottom {
    background-color: #30469C;
    padding: 20px 0;
    position: relative;
    position: fixed;
    height: 70px;
    border-radius: 5px;

}
.fixed-bottom::before {
    content: '';
    display: block;
    position: absolute;
    top: -30px; /* Adjusts the vertical position */
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* Diameter of the circle */
    height: 80px; /* Diameter of the circle */
    background: white; /* White circle */
    border-radius: 50%;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* White text */
    
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}


.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Ensures even spacing */
    z-index: 999;
    padding: 5px;
}
.inplay-left{
    margin-left: -30px;
}
.casino-right{
    margin-right: -26px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Ensures even spacing */
    margin-top: -60px;
    position: absolute;
    left: 0;
}
.footer-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    height: 70px;

}
.central {
    flex: 0.5;
    font-size: 30px; /* Larger font size for the central icon */
    border-radius: 50%;
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* White icon color */
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.central img{
    width: 65px; /* Fixed width */
    height: 65px; /* Fixed height */
}

.footer-icons img {
    margin-bottom: 40px;
}

.footer-icon.central img.central-icon {
    width: 40px; /* Larger size for the central icon */
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #000; /* Adjust if you have a specific background color */
}

.footer-icon span {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 5px; /* Adjust spacing between icon and text */
}
