.header {
    Display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    color: white;
}
.header {
    height: 60px;
    background-color: #1A2E3B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}

/* Container for the marquee effect */
.marquee-container {
    position: relative;
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap;
    width: 100%; /* Ensure it takes the full width */
    background-color: #0F212F; /* For better visibility */
    padding-top: 60px;
  }
  
  /* Wrapper for the scrolling text */
  .bet-grue-wrapper {
    width: 100%;
    display: inline-block; /* Display inline for scrolling */
    white-space: nowrap; /* Prevent text wrapping */
    animation: scrollText 29s linear infinite; /* Infinite scrolling animation */
  }
  
  /* Styles for the scrolling text */
  .bet-grue {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: inline-block; /* Display inline for scrolling */
    white-space: nowrap; /* Ensure text doesn't wrap */
    padding-top: 7px;
  }
  
  @keyframes scrollText {
    0% {
        transform: translateX(100%); /* Start outside to the right */
    }
    100% {
        transform: translateX(-100%); /* End outside to the left */
    }
}

.logo img {
    height: 30px;
}

.user-balance {
    display: flex;
    align-items: center;
}

.balance-info {
    background-color: #11202D;
    padding: 7px 10px;
 
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.wallet-icon-container {
    background-color: #738599;
    padding: 10px;
    display: flex;
    align-items: center;
}

.wallet-icon {
    color: white;
    font-size: 18px;
}

.user-icon-container {
    margin-left: 20px;
   
    padding: 10px;
  
    display: flex;
    align-items: center;
}

.user-icon {
    color: white;
    font-size: 18px;
}

/* Additional Styles to Ensure Consistency */

.header * {
    box-sizing: border-box;
}

.user-balance > div {
    display: flex;
    align-items: center;
}

