<div class="header">
    <div class="logo">
      <img src="assets/10bets.png" alt="1obet Logo">
    </div>
    <div class="user-balance">
        <div class="balance-info">
            <span class="balance-amount">{{ coin | number: '1.2-2' }}</span>
        </div>
        <div class="wallet-icon-container">
            <i class="fas fa-wallet wallet-icon"></i>
        </div>
        <div class="user-icon-container">
            <i class="fas fa-user user-icon" [routerLink]="['/my-profile']"></i>
        </div>
    </div>
</div>


<div class="marquee-container">
    <div class="bet-grue-wrapper">
      <h5 class="bet-grue">{{getNotification.notification}}</h5>
    </div>
