
<div class="login-page card">
    <div class="container">
        <div class="row">
            <!-- <div class="login-text">
              <h3 class="login">10 Bets</h3>
              <h3 class="login">LOGIN</h3>
            </div> -->
            <div class="login-background-img">
              <img src="../../assets/pngwing.png">
            </div>

          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="clientCode" >Client Code*</label>
              <input type="text" class="form-control" id="code" formControlName="code" id="clientCode" placeholder="Enter Client Code" required>
            </div>
            <div class="input-group">
              <label for="clientCode" >Password*</label>

              <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control" placeholder="Password">
              <!-- <i class="material-icons toggle-icon" (click)="togglePasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</i> -->
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
            style="color: red">
            Password is required.
       </div>
            <!-- <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched" class="alert alert-danger">
            Password must be at least 8 characters..</div> -->
            <div class="input-group">
            <button type="submit" class="btn login-btn" >LOGIN</button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <button type="button" class="btn login-btn" (click)="togglePasswordVisibility()">LOGIN WITH DEMO ID</button>
          </div>
        </form>
      </div>
  </div>
  
