<div class="live-events">
    <div class="live-events-header">
        <i class="fas fa-play-circle"  style="margin-top: -15px;"></i>
        <h1>Live Events</h1>
    </div>
    <div class="events-container">
        <div class="event-item">
            <img src="assets/ball.png" width="40px" height="40px">
        
            <span>Cricket</span>
        </div>
        <div class="event-item">
            <img src="assets/football.png" width="40px" height="40px">
            <span>Football</span>
        </div>
        <div class="event-item">
            <img src="assets/tennis.png" width="40px" height="40px">
            <span>Tennis</span>
        </div>
        <div class="event-item">
            <img src="assets/horse.png" width="40px" height="40px">

            <span>Horse Racing</span>
        </div>
        <div class="event-item">
            <img src="assets/horse.png" width="40px" height="40px">
            <span>Dog Racing</span>
        </div>
        <div class="event-item">
            <img src="assets/dogracing.png" width="40px" height="40px">

            <span>Election</span>
        </div>
    </div>
</div>
