<div class="info-container">
    <div class="section">
        <div class="personal-info">
            <h4>PERSONAL INFORMATION</h4>
        </div>
      <div class="info-row">
        <span>CLINT CODE</span>
        <span>{{profileData.code}}</span>
      </div>
      <div class="info-row">
        <span>CLINT NAME</span>
        <span>{{profileData.name}}</span>
      </div>
      <div class="info-row">
        <span>DATE OF JOINING</span>
        <span>{{ profileData.joindate | date: 'medium' }}</span>
      </div>
      <div class="info-row">
        <span>CONTACT NO</span>
        <span>{{profileData.contactno}}</span>
      </div>
    </div>
  
    <div class="section">
      <h4>RATE INFORMATION</h4>
      <div class="info-row">
        <span>RATE DIFFERENCE</span>
        <div class="rate-diff">
          <select class="rate-select" [(ngModel)]="rateDifference">
            <option *ngFor="let rate of getRateOptions()" [value]="rate.key">
               {{ rate.value }}
            </option>
          </select>
          <button class="update-btn"(click)="updateRateDifference()">UPDATE</button>
        </div>
      </div>
    </div>

    <div class="section">
      <h4>HELP LINE NUMBER:-</h4>
      <div class="info-row">
        <span>RATE DIFFERENCE</span>
        
      </div>
    </div>
  </div>
  