.info-container {
    background-color: #1A2C38;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  .personal-info{
    background-color: #0F212E;
    height: 40px;
    padding: 10px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    background-color: #2E3D4B;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  
  .info-row span:first-child {
    font-weight: 600;
    font-size: 13px;
  }
  
  .info-row span:last-child {
    font-weight: 500;
    font-size: 12px;
  }
  
  .rate-diff {
    display: flex;
    align-items: center;
  }
  
  .rate-select {
    background-color: #2E3D4B;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
  
  .update-btn {
    background-color: #34495E;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .update-btn:hover {
    background-color: #2C3E50;
  }
  