<div class="info-container">
    <div class="section">
        <div class="personal-info">
            <h4>PERSONAL INFORMATION</h4>
        </div>
      <div class="info-row">
        <span>CLINT CODE</span>
        <span>C1</span>
      </div>
      <div class="info-row">
        <span>CLINT NAME</span>
        <span>DEMO CLINT</span>
      </div>
      <div class="info-row">
        <span>DATE OF JOINING</span>
        <span>AUGUST 31, 2024</span>
      </div>
    </div>
  
    <div class="section">
      <h4>RATE INFORMATION</h4>
      <div class="info-row">
        <span>RATE DIFFERENCE</span>
        <div class="rate-diff">
          <select class="rate-select">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
          <button class="update-btn">UPDATE</button>
        </div>
      </div>
    </div>
  </div>
  