
  .container-fluid {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  h2 {    
    color: #fff;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #c1c1c1;
  }

  .back-btn {
    text-decoration: none;
    color: #fff;
    background-color: #0d8bfa;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .back-btn:hover {
    background-color: #095bb5;
  }

  .error-code {
    font-size: 200px;
    color: #ff4f4f;
    margin: 0;
    font-weight: 800;
  }

  /* Responsive Design */
  @media (max-width: 768px) {

    .error-code {
      font-size: 40px;
    }
    p {
      font-size: 10px;
      margin-bottom: 30px;
      color: #c1c1c1;
    }


    h2 {
      font-size: 12px;
    }

    

    .back-btn {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 60px;
    }

    .error-code {
      font-size: 80px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    .back-btn {
      padding: 8px 16px;
      font-size: 12px;
    }
  }